.links-container {
    margin: 5px;
}

.links-list {
    list-style-type: none;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: var(--main-text);
}

.link:visited {
    color: var(--main-text);
}

.list-element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    transition: 500ms;
}

.list-element:hover {
    cursor: pointer;
    background-color: var(--analogous);
}

.icon {
    width: 17px;
    margin-left: 5px;
    margin-right: 5px;
    pointer-events: none;
    user-select: none;
}